@model string
@{
    Layout = MVC.Mail.Views._MailLayout;
    bool cont = true;
    Perpetuality.App_Code.Model_PasswordRequest MyModel = null;
    Exception ex = null;
    var BaseURL = System.Configuration.ConfigurationManager.AppSettings["BaseURL"]; 
    
    try
    {
        MyModel = new Perpetuality.App_Code.Model_PasswordRequest(Model);
        ViewBag.PlayerName = MyModel.RecipientEmail;
        this.Response.AddHeader("X-JaapMail-Subject", @Resources.Mail.EmailConfirmation.Subject);
        this.Response.AddHeader("X-JaapMail-Recipient-Email", MyModel.RecipientEmail);
        this.Response.AddHeader("X-JaapMail-Recipient-Name", MyModel.RecipientEmail);
    } 
    catch(Exception e)
    {
        cont = false;
        ex = e;
        this.Response.AddHeader("X-JaapMail-Error", "error");
    }
}
@if (cont)
{
    <p>@string.Format(Resources.Mail.PasswordRequest.Message, MyModel.Password)</p>
}
else
{
}
