<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Perpetuality</title>
    <script type="text/javascript" src="../../../Perpetuality/Scripts/knockout-2.1.0.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxynbvhnTHYl8nIIAoct1AjbJCxWZSwPw&sensor=false"></script>
    <script type="text/javascript" src="perpetuality_map.js"></script>
    <link rel="stylesheet" href="perpetuality_map.css">
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>

