@{
    ViewBag.Title = "F.A.Q.";
}

<h2>Frequently Asked Questions</h2>

<h3>This looks like a nice game. How do I start it?</h3>
<p>Choose the login menu item and press the button 'login with Facebook' to start a gamesession. Then you pull the big lever to go to the game map</p>
