<html>
<head>
    <title>Location information for Perpetuality.org</title>
</head>
<body>
    <h1>Location information for Perpetuality.org</h1>
    Entrypoints:
    <ul>
        <li>Point on map information: /v1/[long],[lat]<br/>
            Result JSON:
                <ul>
                    <li>long:Longitude</li>
                    <li>lat: Latitude</li>
                    <li>solar_watts: Solar power on the surface in watts per square meter.</li>
                </ul>
        </li>
    </ul>

    URL Parameters:
    <ul>
        <li>[long]: Longitude >= -180, <180 </li>
        <li>[lan]: Latitude >= -90, <90 </li>
    </ul>

</body>
</html>