@{
    ViewBag.Title = Resources.Home.Index.PageTitle;
    ViewBag.MenuHome = "selected";

    string language = (string)ViewContext.RouteData.Values["language"];
    }
<a href="/@language/home" class="logo"></a>

<script src="@Links.Scripts.lib.jquery_1_7_1_js" type="text/javascript"></script>
<script src="@Links.Scripts.lib.jquery_ui_1_8_20_js" type="text/javascript"></script>
<script src="@Links.Scripts.gamestart_js" type="text/javascript"></script>
@* <p>@(((HttpContext.Current.User as Perpetuality.GamePrincipal).Identity as Perpetuality.GameIdentity).Name)</p> *@

<div class="caroussel">
</div>
<div class="news">
    <div class="header">
    </div>
    <div class="news-block">
        The perpetuality site is launched! The game is not yet playable (it was prepared for presentation). But you can check out the beautiful art. You can register if you want to play the game when it reaches playable state. We will keep you informed by email about the state of the game.
        <div class="playnow">
        </div>
    </div>
</div>
<form id="starter" method="post" action="/@language/Game"></form>
