@using Perpetuality.Data;
@{
    Layout = MVC.Shared.Views._LayoutStrip;

    ViewBag.Title = Resources.Home.RegisterThanks.PageTitle;
}
<div class="main-container">
    @Resources.Home.RegisterThanks.ThanksForRegistrationText
</div>