@{
    ViewBag.Title = "Index";
    ViewBag.MenuCredits = "selected";
}
<h2>Credits</h2>
<p>The Perpetuality team consists of:</p>
<ul>
        <li>Jacco Kulman</li>
        <li>Martijn Zwaal</li>
        <li>Casper de Geus</li>
        
        <li>Rafael Pedrola</li>
        <li>Wouter Baars</li>
        <li>Bart Enkelaar</li>
        <li>Bart Sturm</li>
        <li>Bas Wildschut</li>
        <li>Marnix Dixhoorn</li>
        <li>Mat Bonet</li>
        <li>Randall Wessel</li>
        <li>Steven Ottens</li>
        <li>Marijn Vriens</li>
        <li>Éric Platon</li>
</ul>
<p>We have people and teams located in:</p>
<ul>
<li>Amsterdam</li>
<li>Spain</li>
<li>Japan</li>
</ul>
    </article>
