@{
    ViewBag.Title = "Index";
    ViewBag.MenuCredits = "selected";
}
<h2>Credits</h2>
<ul>
        <li>Jacco</li>
        <li>Martijn</li>
        <li>Casper</li>
        <li>Anouk</li>
        <li>Rafael Pedrola</li>
</ul>
