// =========================================================
// SCAFFOLDING
// =========================================================

html, body,
#pages-container,
.alt-bgcolor {
  height: 100%;
}

// Body reset
// -------------------------



.alt-bgcolor {
  background-color: @corporateColor;
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @linkColorHover;
}
