@{
    ViewBag.Title = "News";
}

<h2>News</h2>
<p>
	Please like us on facebook at <a href="https://www.facebook.com/PerpetualityGame">https://www.facebook.com/PerpetualityGame</a> to follow the latest news. What's not to like!
</p>