@{
    Layout = MVC.Shared.Views._LayoutStrip;
    string language = (string)ViewContext.RouteData.Values["language"];
}
<div class="main-container">
    <div class="main-content">
        <div class="left-container">
            
        </div>
    </div>
    <div class="middle-container">
        @RenderBody()
    </div>
    <div class="right-container">

    </div>
</div>
